/* Coolors Exported Palette - coolors.co/ffffff-84ba39-353a3e-354856-f79627 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(85%, 53%, 48%, 1);
$color3: hsla(207%, 8%, 23%, 1);
$color4: hsla(205%, 24%, 27%, 1);
$color5: hsla(32%, 93%, 56%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(132, 186, 57, 1);
$color3: rgba(53, 58, 62, 1);
$color4: rgba(53, 72, 86, 1);
$color5: rgba(247, 150, 39, 1);

$primaryColor: rgb(54, 70, 87);
$primaryColorDarker: rgba(54, 70, 87, 0.95);
$greyText: rgba(0, 0, 0, 0.68);
$greyBackground: rgba(0, 0, 0, 0.05);
$winner: #f0ad4e;

$logo: #3dbb3d;
$gray: #777777;
$black: #070707;
$green: #7ed386;
$aqua: #3fb6a8;
$white: #ffffff;
