.bio-section {
  margin: 0 5%;
  margin-bottom: 3rem;
}

.date {
  font-size: 80%;
}

ul {
  list-style: none;
  padding: 0;
}

ul > li::before {
  content: '•';
  margin: 0 1rem 0 0;
  color: #b1b1b1;
}

ul > li > p {
  margin: 0 0 1rem 2rem;
}

ul > li > ul {
  list-style: none;
  padding: 0 2rem;
}

ul > li > ul > li::before {
  content: '▪';
  margin: 0 1rem 0 0;
  color: #b1b1b1;
}
