.bio-section {
  margin: 0 5%;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .bio-section {
    margin: 0;
  }
}

.date {
  font-size: 80%;
}

ul {
  padding-inline-start: 2rem;
}

ul > li > p {
  margin-top: 0;
}
