@import './variables';

.card-content {
  padding: 10px 16px;
}

.card {
  background-color: $primaryContainerColor;
  border-radius: 5px;
  margin: 1rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-light {
  background: #f4f5f7;
  box-shadow: none !important;
}

/* .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.highlighted {
  border: 1px solid #ffb300;
}
