@import './variables';

.portfolio-user {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .portfolio-user {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

.portfolio-user-info {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.portfolio-cover {
  background-color: $primaryColor;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .portfolio-cover {
    height: 15rem;
  }
}

.portfolio-user {
  background-color: transparent;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .portfolio-user {
    text-align: left;
  }
}

.portfolio-user-name {
  line-height: 1em;
}

.portfolio-user-name small {
  font-size: 0.7em;
  font-weight: normal;
  display: inline-block;
  width: 100%;
  color: $primaryColor;
}

@media only screen and (min-width: 768px) {
  .portfolio-user-name {
    height: 3.63333rem;
    margin-top: 0;
    color: $primaryTextColor;
    margin-bottom: 1rem;
  }

  .portfolio-user-name small {
    display: inline;
    width: auto;
    color: $primaryTextColor;
  }
}

.portfolio-user-photo {
  text-align: center;
}

.portfolio-user-photo .user-photo {
  background-color: $primaryTextColor;
  border: 0.3rem solid $white;
  width: 12rem;
  height: 12rem;
  margin-bottom: 1rem;
  border-radius: 5%;
}

@media only screen and (min-width: 768px) {
  .portfolio-user-photo {
    margin-bottom: 1rem;
    max-width: 10rem;
    margin-right: 1.875em;
  }

  .portfolio-user-photo .user-photo {
    width: 10rem;
    height: 10rem;
  }
}

.portfolio-user {
  margin-top: -2.96667rem;
}

@media only screen and (min-width: 768px) {
  .portfolio-user {
    margin-top: -4.63333rem;
  }
}

.label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

.label:hover {
  color: #789;
  cursor: pointer;
}

.label-active {
  color: $primaryColor;
  border-bottom: 2px solid $primaryColor;
}

.label-active:hover {
  color: $primaryColor;
  cursor: pointer;
}

.label:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .label {
    font-size: 0;
  }
  .label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .label {
    padding: 15px;
  }
}

.label-project:before {
  content: '\f121';
}
.label-about:before {
  content: '\f129';
}
.label-blog:before {
  content: '\f1dd';
}

@media screen and (max-width: 768px) {
  nav {
    padding-bottom: 2rem;
  }
}
