@import './variables';

.form-wrapper .section {
  padding: 0px 20px 30px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $primaryContainerColor;
  opacity: 0;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 300px;
}

.form-wrapper .section h3 {
  margin-bottom: 30px;
}

.form-wrapper .section.is-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.btn,
.form-wrapper .button,
.form-wrapper .submit {
  background-color: $primaryInputElementColor;
  display: inline-block;
  padding: 8px 30px;
  color: $primaryContainerColor;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
}

.form-wrapper textarea {
  resize: none;
}

.form-wrapper textarea,
.form-wrapper input[type='text'],
.form-wrapper input[type='email'],
.form-wrapper input[type='password'] {
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: $primaryContainerColor;
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px !important;
}

.form-wrapper input[type='radio'] {
  display: none;
}

.form-wrapper input[type='radio'] + label {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.form-wrapper input[type='radio'] + label:before {
  content: '✔';
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background-color: $primaryInputElementColor;
  color: $primaryContainerColor;
  display: none;
}

.form-wrapper input[type='radio']:checked + label:before {
  display: block;
}

.form-wrapper input[type='radio'] + label h4 {
  margin: 15px;
  color: #ccc;
}

.form-wrapper input[type='radio']:checked + label {
  border: 1px solid $primaryInputElementColor;
}

.form-wrapper input[type='radio']:checked + label h4 {
  color: $primaryInputElementColor;
}
