@import '../../styles/variables';

$headerHeight: 54px;

@media (min-width: 992px) {
  .stickySidebar {
    position: sticky;
    top: $headerHeight;
    overflow-y: auto;
  }
}

.fixedHeader {
  height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav-title {
  line-height: $headerHeight;
  font-family: monospace;
  font-size: 120%;
  font-weight: 600;
  float: left;
  padding: 0 2rem;
}

.nav-title > a {
  color: $white;
  text-decoration: none;
}

.nav {
  height: $headerHeight;
  width: 100%;
  background-color: $primaryColor;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  padding: 0 1rem;
}

.nav > .nav-links > a {
  line-height: $headerHeight;
  display: inline-block;
  text-decoration: none;
  color: #efefef;
  padding: 0 1.2rem;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    color: $white;
    line-height: $headerHeight;
    text-align: center;
    display: inline-block;
    width: $headerHeight;
    height: $headerHeight;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: $primaryColorDarker;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: $headerHeight;
    left: 0px;
    padding: 0;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    padding: 0 1.5rem;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
