.stickySidebar {
  position: sticky;
  top: 68px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .stickySidebar {
    position: inherit;
    overflow-y: auto;
  }
}

.fixedHeader {
  height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.title {
  line-height: 54px;
  font-family: monospace;
  font-size: 150%;
  font-weight: 600;
  float: left;
}

.links {
  line-height: 54px;
  float: right;
}

@media screen and (max-width: 767px) {
  .links > .text {
    font-size: 0;
  }
}
